github "SnapKit/SnapKit"
github "shpakovski/MASPreferences"
github "JustHTTP/Just" "swift-4"
github "sparkle-project/Sparkle"
github "mxcl/PromiseKit"
github "PromiseKit/UIKit"
github "PromiseKit/QuartzCore"
github "PromiseKit/Foundation"
github "tadija/AEXML"
github "1024jp/GzipSwift" "swift4"
github "saagarjha/GRMustache.swift"
github "LeafPlayer/ResourcesManager"
#github "LeafPlayer/LeafDI"
